@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}
html body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
html body header {
  position: absolute;
  top: 0;
  left: calc(50px - 100vw);
  height: 100%;
  width: 100%;
  background-color: black;
  transition: 0.5s;
  z-index: 100;
  -webkit-animation-name: header;
          animation-name: header;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
  will-change: animation;
}
html body header .header-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.25s;
}
html body header .header-button:hover .header-button-content {
  border: 1px solid #c6e6ef;
}
html body header .header-button .header-button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.25s;
}
html body header .header-button .header-button-content .header-button-content-border-one {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  transition: 0.25s;
}
html body header .header-button .header-button-content .header-button-content-border-two-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  transition: 0.25s;
}
html body header .header-button .header-button-content .header-button-content-border-two-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  transition: 0.25s;
}
html body header .header-button .header-button-content .header-button-content-border-three {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  transition: 0.25s;
}
html body header .header-content {
  position: absolute;
  top: 50px;
  right: 0;
  width: calc(40vw - 100px);
  padding: 0 50px;
  opacity: 0;
  transition: 0.5s;
}
html body header .header-content a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid gray;
  transition: 0.25s;
  cursor: pointer;
}
html body header .header-content a:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
html body header .header-home-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  right: 0;
  transition: 0.25s;
  cursor: pointer;
}
html body header .header-home-button:hover .header-home-button-content {
  border: 1px solid #c6e6ef;
}
html body header .header-home-button .header-home-button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.25s;
}
html body header .header-home-button .header-home-button-content svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}
html body header .header-dark-mode-button {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  transition: 0.25s;
  cursor: pointer;
}
html body header .header-dark-mode-button:hover .header-dark-mode-button-content {
  border: 1px solid #c6e6ef;
}
html body header .header-dark-mode-button .header-dark-mode-button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.25s;
}
html body header .header-dark-mode-button .header-dark-mode-button-content .dark-mode-off {
  opacity: 1;
}
html body header .header-dark-mode-button .header-dark-mode-button-content .dark-mode-on {
  opacity: 0;
}
html body header .header-dark-mode-button .header-dark-mode-button-content svg {
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
html body main {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 50px);
  margin-left: 50px;
  -webkit-animation-name: main;
          animation-name: main;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: white;
  transition: 0.25s;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100px);
  -ms-scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100px);
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}
html body main .home::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari 対応 */
}
html body main .home .selector {
  position: fixed;
  top: 75%;
  right: 35px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: translateY(-50%);
  block-size: 25px;
  z-index: 99;
  font-family: "Roboto", sans-serif;
  -webkit-animation-name: selector;
          animation-name: selector;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .selector a {
  box-sizing: border-box;
  text-decoration: none;
  border-left: 1px solid transparent;
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 0.8rem;
  transition: 0.25s;
  color: black;
  cursor: pointer;
}
html body main .home .selector a:last-child {
  margin-bottom: 0;
}
html body main .home .selector a:hover {
  border-left: 1px solid #8a8a8a;
  color: #8a8a8a;
}
html body main .home .home-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
html body main .home .home-top .home-top-liner {
  position: absolute;
  width: 100%;
  height: 100%;
}
html body main .home .home-top .home-top-liner .home-top-liner-inline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-animation-name: home-top-liner-inline;
          animation-name: home-top-liner-inline;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-liner .home-top-liner-two {
  position: absolute;
  top: 50%;
  left: calc(100% - (100vh - 2px - 2px - 30px - 30px) * 0.3125 + 50px);
  transform: translate(-50%, -50%);
  height: 100%;
  width: 1px;
  background-color: black;
}
html body main .home .home-top .home-top-border {
  position: relative;
  width: calc(100% - 30px - 30px - 2px - 2px);
  height: calc(100% - 30px - 30px - 2px - 2px);
  border: 2px solid black;
  margin: 30px;
}
html body main .home .home-top .home-top-border .home-top-icon {
  position: absolute;
  aspect-ratio: 1/1;
  height: 100%;
  right: calc(0px - (100vh - 2px - 2px - 30px - 30px) * 0.3125 + 50px);
  -webkit-animation-name: home-top-icon;
          animation-name: home-top-icon;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-liner-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 1px;
  background-color: black;
  -webkit-animation-name: home-top-liner-block;
          animation-name: home-top-liner-block;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-circle-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-animation-name: home-top-icon-circle-3;
          animation-name: home-top-icon-circle-3;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-circle-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 37.5%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  -webkit-animation-name: home-top-icon-circle-2;
          animation-name: home-top-icon-circle-2;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 15%;
  background-image: url(../../../images/home/29ldpi.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: home-top-icon-img;
          animation-name: home-top-icon-img;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-circle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(40deg);
  width: 25%;
  height: 6%;
  -webkit-animation-name: home-top-icon-circle-content;
          animation-name: home-top-icon-circle-content;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-circle-content .home-top-icon-circle {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotateZ(-40deg);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #83e6ee 0%, #95aee9 100%);
  -webkit-animation-name: home-top-icon-circle;
          animation-name: home-top-icon-circle;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-plus {
  position: absolute;
  top: 50%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 2%;
  background-image: url(../../../images/home/30ldpi.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation-name: home-top-icon-plus;
          animation-name: home-top-icon-plus;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-circle-1-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-30deg);
  aspect-ratio: 1/1;
  height: 25%;
  border-radius: 50%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-animation-name: home-top-icon-circle-1-1;
          animation-name: home-top-icon-circle-1-1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .home-top-icon-circle-1-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(30deg);
  aspect-ratio: 1/1;
  height: 25%;
  border-radius: 50%;
  border-top: 1px solid transparent;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid transparent;
  -webkit-animation-name: home-top-icon-circle-1-2;
          animation-name: home-top-icon-circle-1-2;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-icon .app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-one-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(50deg);
  width: 100%;
  height: 10%;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-one-content .app-one {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotateZ(-50deg);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #83e6ee 0%, #95aee9 100%);
  box-shadow: 0 0 20px #5bd6ff;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-two-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(25deg);
  width: 100%;
  height: 10%;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-two-content .app-two {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotateZ(-25deg);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #83e6ee 0%, #95aee9 100%);
  box-shadow: 0 0 20px #5bd6ff;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-three-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 10%;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-three-content .app-three {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #83e6ee 0%, #95aee9 100%);
  box-shadow: 0 0 20px #5bd6ff;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-four-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotatez(-25deg);
  width: 100%;
  height: 10%;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-four-content .app-four {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotateZ(25deg);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #83e6ee 0%, #95aee9 100%);
  box-shadow: 0 0 20px #5bd6ff;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-five-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-50deg);
  width: 100%;
  height: 10%;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-five-content .app-five {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotateZ(50deg);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #83e6ee 0%, #95aee9 100%);
  box-shadow: 0 0 20px #5bd6ff;
}
html body main .home .home-top .home-top-border .home-top-icon .app .app-white {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 88%;
  background-color: white;
  border-radius: 50%;
}
html body main .home .home-top .home-top-border .home-top-icon .app a {
  cursor: pointer;
}
html body main .home .home-top .home-top-border .home-top-sub-icon {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(-50%, -50%);
  -webkit-animation-name: home-top-sub-icon;
          animation-name: home-top-sub-icon;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .home-top-sub-icon .home-top-sub-icon-circle-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: calc((100vh - 2px - 2px - 30px - 30px) * 0.1);
  border-radius: 50%;
  border: 1px solid black;
}
html body main .home .home-top .home-top-border .home-top-sub-icon .home-top-sub-icon-circle-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: calc((100vh - 2px - 2px - 30px - 30px) * 0.3);
  border-radius: 50%;
  border: 1px solid black;
}
html body main .home .home-top .home-top-border .app-content {
  position: absolute;
  top: 0;
  left: calc((100vh - 2px - 2px - 30px - 30px) * 0.3 / 2 - 15px);
  height: 100%;
  width: calc(100% - (100vh - 2px - 2px - 30px - 30px - (100vh - 2px - 2px - 30px - 30px) * 0.3125 + 50px) - ((100vh - 2px - 2px - 30px - 30px) * 0.3 / 2 - 15px));
  -webkit-animation-name: app-content;
          animation-name: app-content;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.13, 0.47, 0.54, 0.99);
  will-change: animation;
}
html body main .home .home-top .home-top-border .app-content .app-content-name {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}
html body main .home .home-top .home-top-border .app-content .app-content-name .app-content-name-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-name .app-content-name-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-name .app-content-name-three {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-name .app-content-name-four {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-name .app-content-name-five {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-txt {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
}
html body main .home .home-top .home-top-border .app-content .app-content-txt .app-content-txt-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-txt .app-content-txt-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-txt .app-content-txt-three {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-txt .app-content-txt-four {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app-content-txt .app-content-txt-five {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}
html body main .home .home-top .home-top-border .app-content .app {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 50px;
  height: calc((100vh - 10px - 10px - 2px - 2px) * 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
html body main .home .home-top .home-top-border .app-content .app div {
  position: relative;
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
}
html body main .home .home-top .home-top-border .app-content .app div a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  transition: 0.25s;
  border: 1px solid black;
}
html body main .home .home-top .home-top-border .app-content .app div .app-one {
  background-image: url(../../../images/home/01.svg);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
html body main .home .home-top .home-top-border .app-content .app div .app-one:hover {
  height: 120%;
}
html body main .home .home-top .home-top-border .app-content .app div .app-two {
  background-image: url(../../../images/home/02.svg);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
}
html body main .home .home-top .home-top-border .app-content .app div .app-two:hover {
  height: 120%;
}
html body main .home .home-top .home-top-border .app-content .app div .app-three {
  background-image: url(../../../images/home/05.svg);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
}
html body main .home .home-top .home-top-border .app-content .app div .app-three:hover {
  height: 120%;
}
html body main .home .home-top .home-top-border .app-content .app div .app-four {
  background-image: url(../../../images/home/03.svg);
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
}
html body main .home .home-top .home-top-border .app-content .app div .app-four:hover {
  height: 120%;
}
html body main .home .home-top .home-top-border .app-content .app div .app-five {
  background-image: url(../../../images/home/04.svg);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
html body main .home .home-top .home-top-border .app-content .app div .app-five:hover {
  height: 120%;
}
html body main .home .home-creator {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
html body main .page-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: lightblue;
}
html body main .page-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: lightcoral;
}
html body main .page-three {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: lightgoldenrodyellow;
}
html body main .page-four {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: lightgreen;
}
html body main .page-five {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: lightpink;
}
html body .opening-animation-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #2a2b3d;
  opacity: 0;
  -webkit-animation-name: opening-animation-block;
          animation-name: opening-animation-block;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
          animation-timing-function: cubic-bezier(0.14, 0.74, 0.54, 0.99);
  will-change: animation;
}

@-webkit-keyframes opening-animation-block {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  33% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  34% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@keyframes opening-animation-block {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  33% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
  34% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@-webkit-keyframes header {
  0% {
    width: calc(100vw - 50px);
  }
  66% {
    width: calc(100vw - 50px);
  }
  100% {
    width: 100vw;
  }
}
@keyframes header {
  0% {
    width: calc(100vw - 50px);
  }
  66% {
    width: calc(100vw - 50px);
  }
  100% {
    width: 100vw;
  }
}
@-webkit-keyframes main {
  0% {
    margin-left: 0;
  }
  66% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes main {
  0% {
    margin-left: 0;
  }
  66% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}
@-webkit-keyframes home-top-icon {
  0% {
    right: 50%;
    transform: translateX(50%);
  }
  66% {
    right: 50%;
    transform: translateX(50%);
  }
  100% {
    right: calc(0px - (100vh - 2px - 2px - 30px - 30px) * 0.3125 + 50px);
  }
}
@keyframes home-top-icon {
  0% {
    right: 50%;
    transform: translateX(50%);
  }
  66% {
    right: 50%;
    transform: translateX(50%);
  }
  100% {
    right: calc(0px - (100vh - 2px - 2px - 30px - 30px) * 0.3125 + 50px);
  }
}
@-webkit-keyframes home-top-sub-icon {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-sub-icon {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes app-content {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes app-content {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes selector {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes selector {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-liner-block {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-liner-block {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-liner-inline {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-liner-inline {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-icon-circle-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-icon-circle-3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-icon-circle-2 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-icon-circle-2 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-icon-plus {
  0% {
    left: 50%;
    height: 16%;
  }
  18% {
    left: 50%;
    height: 2%;
  }
  45% {
    left: 37.5%;
  }
  100% {
    left: 37.5%;
  }
}
@keyframes home-top-icon-plus {
  0% {
    left: 50%;
    height: 16%;
  }
  18% {
    left: 50%;
    height: 2%;
  }
  45% {
    left: 37.5%;
  }
  100% {
    left: 37.5%;
  }
}
@-webkit-keyframes home-top-icon-circle-1-1 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-icon-circle-1-1 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-icon-circle-1-2 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-icon-circle-1-2 {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-icon-img {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes home-top-icon-img {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes home-top-icon-circle-content {
  0% {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  18% {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  66% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(400deg);
  }
}
@keyframes home-top-icon-circle-content {
  0% {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  18% {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  66% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(400deg);
  }
}
@-webkit-keyframes home-top-icon-circle {
  0% {
    transform: translate(-50%, -50%) rotateZ(-90deg);
    opacity: 0;
  }
  18% {
    transform: translate(-50%, -50%) rotateZ(-90deg);
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  66% {
    transform: translate(-50%, -50%) rotateZ(-360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(-400deg);
    opacity: 1;
  }
}
@keyframes home-top-icon-circle {
  0% {
    transform: translate(-50%, -50%) rotateZ(-90deg);
    opacity: 0;
  }
  18% {
    transform: translate(-50%, -50%) rotateZ(-90deg);
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  66% {
    transform: translate(-50%, -50%) rotateZ(-360deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(-400deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */